body {
  background-color: lightyellow;
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card {
  background-color: black;
  padding: 20px;
  width: max-content;
  border-radius: 20px;
  color: white;
}

.input-form {
  margin: 20px;
}

.form-control {
  display: flex;
  margin-left: 180px;
  margin-top: -20px;
  border-radius: 20px;
  width: 300px;
  height: 30px;
  border: 5px solid lightyellow;
  padding-left: 10px;
}

.form-select-control {
  display: flex;
  margin-left: 180px;
  margin-top: -20px;
  border-radius: 20px;
  width: 320px;
  height: 42px;
  border: 5px solid lightyellow;
  padding-left: 10px;
}

.form-file {
  margin-left: 40px;
  border-radius: 10px;
}

.btn-plus {
  width: 100%;
  height: 40px;
  background-color: black;
  color: lightyellow;
  border: 2px solid lightyellow;
  border-radius: 50px;
  margin-top: 30px;
  font-weight: bold;
}

.btn-plus:hover {
  background-color: lightyellow;
  color: black;
}

.back-con {
  display: flex;
  flex-direction: row;
}
